/* You can add global styles to this file, and also import other style files */

html, body {
  display: flex;
  flex-direction: column;
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  height: 100%;
}

div.homeBtnWrapper {
  flex: 1;
}

.iconBtn > .mat-button-wrapper{
  display: flex;
}

.iconBtn  mat-icon {
  line-height: 1.5;
  margin-right: 0.5em;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default) {
    height: 18 px !important;
    margin:  0 !important;
}


/* Overriding Materialize */
input:not([type]), input[type=text], input[type=password],
input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    background-color: white;
    border: initial;
    border-bottom: initial !important;
    border-radius: initial !important;
    outline: initial;
    height: initial !important;
    width: initial;
    font-size: initial;
    margin: 0 !important;
    padding: initial;
    box-shadow: initial !important;
    box-sizing: initial;
    transition: initial;
  }
